{{>head}}

    {{>navbar}}
     
     <div class="row">
         <div class="col-8">
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, id?</p>
         </div>

         <div class="col-4">
             <img src="assets/img/UNMSM-Sineace-evaluacion-externa.jpg" class="img-thumbnail" alt="no encontrado">

         </div>
     </div>
     


{{>footer}}
